CREATE DATABASE BookShopDB
GO

USE BookShopDB
GO

USE [BookShopDB]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 2/11/2026 10:18:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[BookId] [int] IDENTITY(1,1) NOT NULL,
	[ISBN] [nvarchar](20) NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Author] [nvarchar](100) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Stock] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CoverImage] [nvarchar](255) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SaleDetails]    Script Date: 2/11/2026 10:18:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SaleDetails](
	[SaleDetailId] [int] IDENTITY(1,1) NOT NULL,
	[SaleId] [int] NOT NULL,
	[BookId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SaleDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales]    Script Date: 2/11/2026 10:18:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales](
	[SaleId] [int] IDENTITY(1,1) NOT NULL,
	[StaffId] [int] NOT NULL,
	[SaleDate] [datetime] NOT NULL,
	[TotalAmount] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SaleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staffs]    Script Date: 2/11/2026 10:18:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staffs](
	[StaffId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StaffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Books] ON 

INSERT [dbo].[Books] ([BookId], [ISBN], [Title], [Author], [Price], [Stock], [CreatedAt], [CoverImage]) VALUES (1, N'123456789076532', N'C# Programming', N'sokchheng', CAST(3.25 AS Decimal(10, 2)), 22, CAST(N'2026-02-03T14:52:30.097' AS DateTime), N'images/books/c-sharp-programming.jpg')
INSERT [dbo].[Books] ([BookId], [ISBN], [Title], [Author], [Price], [Stock], [CreatedAt], [CoverImage]) VALUES (2, N'9780547928227', N'The Hobbit', N'J.R.R. Tolkien', CAST(12.99 AS Decimal(10, 2)), 39, CAST(N'2026-02-03T13:49:08.310' AS DateTime), N'images/books/the-hobbit.jpg')
INSERT [dbo].[Books] ([BookId], [ISBN], [Title], [Author], [Price], [Stock], [CreatedAt], [CoverImage]) VALUES (3, N'9780544003415', N'The Lord of the Rings', N'J.R.R. Tolkien', CAST(24.99 AS Decimal(10, 2)), 26, CAST(N'2026-02-03T13:49:08.310' AS DateTime), N'images/books/The-Lord-of-the-Rings.jpg')
SET IDENTITY_INSERT [dbo].[Books] OFF
GO
SET IDENTITY_INSERT [dbo].[SaleDetails] ON 

INSERT [dbo].[SaleDetails] ([SaleDetailId], [SaleId], [BookId], [Quantity], [UnitPrice]) VALUES (1, 1, 1, 3, CAST(12.00 AS Decimal(10, 2)))
INSERT [dbo].[SaleDetails] ([SaleDetailId], [SaleId], [BookId], [Quantity], [UnitPrice]) VALUES (2, 2, 1, 2, CAST(12.00 AS Decimal(10, 2)))
INSERT [dbo].[SaleDetails] ([SaleDetailId], [SaleId], [BookId], [Quantity], [UnitPrice]) VALUES (3, 3, 1, 1, CAST(12.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[SaleDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Sales] ON 

INSERT [dbo].[Sales] ([SaleId], [StaffId], [SaleDate], [TotalAmount]) VALUES (1, 2, CAST(N'2026-02-03T12:27:44.970' AS DateTime), CAST(36.00 AS Decimal(10, 2)))
INSERT [dbo].[Sales] ([SaleId], [StaffId], [SaleDate], [TotalAmount]) VALUES (2, 2, CAST(N'2026-02-03T12:57:29.620' AS DateTime), CAST(24.00 AS Decimal(10, 2)))
INSERT [dbo].[Sales] ([SaleId], [StaffId], [SaleDate], [TotalAmount]) VALUES (3, 2, CAST(N'2026-02-03T13:22:25.727' AS DateTime), CAST(12.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Sales] OFF
GO
SET IDENTITY_INSERT [dbo].[Staffs] ON 

INSERT [dbo].[Staffs] ([StaffId], [Username], [PasswordHash], [FullName], [Role], [IsActive]) VALUES (1, N'admin', N'jGl25bVBBBW96Qi9Te4V37Fnqchz/Eu4qB9vKrRIqRg=', N'System Admin', N'Admin', 1)
INSERT [dbo].[Staffs] ([StaffId], [Username], [PasswordHash], [FullName], [Role], [IsActive]) VALUES (2, N'sokchheng', N'A6xnQhbz4Vx2HuGl4lXwZ5U2I8iziLRFnhP5eNfIRvQ=', N'Vang Sokchheng', N'Staff', 1)
INSERT [dbo].[Staffs] ([StaffId], [Username], [PasswordHash], [FullName], [Role], [IsActive]) VALUES (3, N'sothun', N'5LC+9JtGVBGXzmbADxdIQG6EwX/nYmV1mIptwG+zZK8=', N'Mang Sothun', N'Staff', 1)
SET IDENTITY_INSERT [dbo].[Staffs] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Staffs__536C85E4CB1981D1]    Script Date: 2/11/2026 10:18:25 PM ******/
ALTER TABLE [dbo].[Staffs] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Books] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Sales] ADD  DEFAULT (getdate()) FOR [SaleDate]
GO
ALTER TABLE [dbo].[Staffs] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[SaleDetails]  WITH CHECK ADD  CONSTRAINT [FK_SaleDetails_Books] FOREIGN KEY([BookId])
REFERENCES [dbo].[Books] ([BookId])
GO
ALTER TABLE [dbo].[SaleDetails] CHECK CONSTRAINT [FK_SaleDetails_Books]
GO
ALTER TABLE [dbo].[SaleDetails]  WITH CHECK ADD  CONSTRAINT [FK_SaleDetails_Sales] FOREIGN KEY([SaleId])
REFERENCES [dbo].[Sales] ([SaleId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SaleDetails] CHECK CONSTRAINT [FK_SaleDetails_Sales]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK_Sales_Staffs] FOREIGN KEY([StaffId])
REFERENCES [dbo].[Staffs] ([StaffId])
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_Sales_Staffs]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD CHECK  (([Price]>=(0)))
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD CHECK  (([Stock]>=(0)))
GO
ALTER TABLE [dbo].[SaleDetails]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[SaleDetails]  WITH CHECK ADD CHECK  (([UnitPrice]>=(0)))
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD CHECK  (([TotalAmount]>=(0)))
GO
ALTER TABLE [dbo].[Staffs]  WITH CHECK ADD CHECK  (([Role]='Staff' OR [Role]='Admin'))
GO
